body{
  margin: 0;
  color: #000000;
}
h1{
  padding-top: 50px;
  font-family: 'BioRhyme', serif;
  font-size: 4rem;
}
h2{
  font-family: 'JetBrains Mono', monospace;
  font-size: 2.8rem;
}
h3{
  font-family: 'JetBrains Mono', monospace;
  font-size: 2rem;
}
p{
  font-family: 'Space Mono', monospace;
  line-height: 2;
}
hr{
  border-style: dotted none none none;
  border-width: 10px;
  width: 20%;
  margin: 50px auto;
  color: #000000;
}
a{
  font-family: 'Space Mono', monospace;
}
/*Top Section*/
.top-container{
  padding-top: 80px;
  text-align: center;
  background-color: #515E63;
}
.pro{
  text-decoration: underline;
}
.right-cloud{
  position: absolute;
  right: 200px;
}
.left-cloud{
  position: absolute;
  left: 150px;
}

/*--Middle Section--*/
.middle-container{
  padding: 100px 0;
  text-align: center;
  background-color: #57837B;
}
.profile{
  margin: auto;
  width: 50%;
}
.skill-row{
  margin: 80px auto;
  text-align: left;
  width: 50%;
}
.kitchen-img{
  float: left;
  width: 30%;
  margin-right: 35px;
}
.bed-img{
  float: right;
  width: 30%;
  margin-left: 35px;
}
.contact-message{
  margin: auto auto 50px auto;
  width: 30%;
}

.btn {
   background: #F1ECC3;
   background-image: -webkit-linear-gradient(top, #F1ECC3, #F1ECC3);
   background-image: -moz-linear-gradient(top, #F1ECC3, #F1ECC3);
   background-image: -ms-linear-gradient(top, #F1ECC3, #F1ECC3);
   background-image: -o-linear-gradient(top, #F1ECC3, #F1ECC3);
   background-image: -webkit-gradient(to bottom, #F1ECC3, #F1ECC3);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   color: #000000;
   font-family: 'JetBrains Mono', monospace;
   font-size: 20px;
   font-weight: 100;
   padding: 20px;
   -webkit-box-shadow: 1px 1px 4px 0 #000000;
   -moz-box-shadow: 1px 1px 4px 0 #000000;
   box-shadow: 1px 1px 4px 0 #57837B;
   text-decoration: none;
   display: inline-block;
   cursor: pointer;
   text-align: center;
}

.btn:hover {
   border: solid #F1ECC3 0;
   background: #F1ECC3;
   background-image: -webkit-linear-gradient(top, #F1ECC3, #616B76);
   background-image: -moz-linear-gradient(top, #F1ECC3, #616B76);
   background-image: -ms-linear-gradient(top, #F1ECC3, #616B76);
   background-image: -o-linear-gradient(top, #F1ECC3, #616B76);
   background-image: -webkit-gradient(to bottom, #F1ECC3, #616B76);
   -webkit-border-radius: 20px;
   -moz-border-radius: 20px;
   border-radius: 20px;
   text-decoration: none;
}


/*--Bottom Section--*/

.bottom-container{
  background-color: #C9D8B6;
  text-align: center;
  padding: 50px;
}
.footer-link{
  margin: 0 30px;
  text-decoration: none;
  color: #000000;
}
.footer-link:hover{
  color: #57837B;
}
.credit{
  margin-top: 50px;
  color: #000000;
}
